<div class="container">
  <div class="circle circle-1"></div>
  <div class="circle circle-2"></div>
  <h1 class="title">{{ count.length }} x {{ count.length }}</h1>
  <div class="buttons-block">
    <button class="button__button-reset" (click)="resetBoard()">
      {{ "reset" | uppercase }}
    </button>
    <button class="button__button-back" (click)="stepBack()">
      {{ "step back" | uppercase }}
    </button>
  </div>
  <div class="board">
    <div class="board__row" *ngFor="let c of count; let i = index">
      <app-cell
        *ngFor="let c of count; let j = index"
        [y]="i"
        [x]="j"
        [matchedCells]="matchedCells"
        (setCurrent)="matchCurrent($event)"
      ></app-cell>
    </div>
  </div>
</div>
<app-modal [isWin]="modal.isWin" [isShowing]="modal.isShowing"></app-modal>
